{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

                		<div class="jumbotron" style="min-height: 100%; min-width: 100%">

                			 <h1>{{ article.title}}</h1> 
                       			<p>{{ article.content}}</p> 
                			 <a class="btn btn-lg btn-primary" href=# role="button">Lire plus &raquo;</a>

                    </div>

        </div>
{% endblock %}