{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

                		<div class="jumbotron" style="min-height: 100%; min-width: 100%">

                        {% for item in articles %}

                			 <h1>{{ item.title}}</h1> 
                       			<p>{{ item.content}}</p> 
                			 <a class="btn btn-lg btn-primary" href="{{ path('article', {'idArticle': item.id }) }}" role="button">Lire plus &raquo;</a>

                        {% endfor %}

                    </div> 

        </div>
{% endblock %}