{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

                		<div class="jumbotron" style="min-height: 100%; min-width: 100%">

                		{{form(formulaire)}}

                    </div>

        </div>
{% endblock %}